﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="~/Content/MyCSS.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <title>Báo mới</title>
</head>
<body>
    <header class="container">

        <div class="mainbar">
            <div class="left">
                <a href="#"><b> 085.675.39700 (HN) - 0129.233.3555 (HCM)  </b> </a>
                <button> Liên hệ quảng cáo </button>
                <button class="Blue-button"><img src="~/Content/image/thumb-up.png" alt="login " style="width: 15px;height: 15px;" /> Like </button>
                <button class="follow-button"><img src="~/Content/image/add-friend.png" alt="login " style="width: 15px;height: 15px;" /> Flow </button>
                <button class="white-button "><img src="~/Content/image/youtube.png" alt="login " style="width: 15px;height: 15px;" /> Youtube </button>

            </div>

            <div class=" right">
                <button class="a-button"><img src="~/Content/image/user.png" alt="login " style="width: 13px;height: 15px;" /> Đăng nhập</button> /
                <button class="a-button"><img src="~/Content/image/register.png" alt="login " style="width: 13px;height: 15px;" /> Đăng ký</button> |
                <input type="text" placeholder="Tìm kiếm">
            </div>
        </div>
    </header>
    <div class="content">
        <div class="maincontent">
            <div class="banner">
                <img class="logo" src="~/Content/image/VnExpress.net_Logo.svg.png" alt="Logo EXPRESS" />
                <img class="banner1" src="~/Content/Images/banner-ads-1.png" alt="Banner1" />
                <img class="banner2" src="~/Content/Images/banner-ads-2.png" alt="Banner2" />
            </div>
            <hr>
            <nav class="menu">
                <button><i class="fas fa-home"></i></button>
                <b>
                    <a href="techno.html">Thời sự</a> |
                    <a href="#">Thế giới</a> |
                    <a href="#">Kinh doanh</a> |
                    <a href="#">Giải trí</a> |
                    <a href="#">Thể thao</a> |
                    <a href="#">Pháp luật</a> |
                    <a href="#">Giáo dục</a> |
                    <a href="#">Sức khỏe</a> |
                    <a href="#">Gia đình</a> |
                    <a href="#">Du lịch</a> |
                    <a href="#">Khoa học</a> |
                    <a href="#">Số hóa</a> |
                    <a href="#">Xe</a> |
                    <a href="#">Cộng đồng</a>
                </b>
                <hr>
            </nav>
            <section class="news">
                <div class="information">
                    <div class="thoisu">
                        <a href="#"><b>Thời sự</b></a>
                    </div>
                    <article>
                        <img class="anhdonatrum" src="~/Content/Images/thumnails.png" alt="Donatrum" />
                        <figcaption class="caption-anhdonatrum">
                            <b>
                                Trump và Clinton đối đầu nảy lửa trong tranh luận trực tiếp đầu tiên <small style="background-color:red;color:white;font-size:12px;">Live</small> <i style="font-size: 12px;" class="fas fa-camera"></i> <i style="font-size: 12px;" class="fas fa-comment"></i> <small style="font-size: 12px;">80</small>
                            </b>
                        </figcaption>
                        <p>
                            Hai ứng cử viên chạy đua vào chức Tổng thống Mỹ Clinton và Trump tranh cải nảy lửa trong hàng loạt vấn đề từ nhà đất, thương mại, đến cuộc chiến chống khủng bố,...
                        </p>
                        <p>
                            - Túi tiền tranh cử của bà Clinton nặng gấp đôi tỷ phú Trump.
                        </p>
                    </article>
                </div>
                <aside class="news-suggest">
                    <div class="language">
                        <button><b style="font-size:20px;color:white;background-color:red;">E</b> English</button>
                    </div>
                    <div class="news-question">
                        <a href="#">Đài Loan đóng của trường học vì bảo Megi.</a>
                        <hr>
                        <a href="#">Những đứa trẻ sống vất vẻo trên dầm cầu đã có chốn dung thân.<i class="fas fa-camera"></i></a>
                        <hr>
                        <a href="#">Tại sao các đôi hoàn hảo vẫn ly dị.</a>
                        <hr>
                        <a href="#">Ssangyong Korando - crossover giá một tỉ tại Việt Nam.</a>
                        <hr>
                        <a href="#">Lỗ hổng IOS 10 giúp hacker giải mã bản sao lưu dễ dàng.</a>
                    </div>
                    <hr>
                    <div class="propose">
                        <img class="mua" src="~/Content/image/troi-mua.jpg" alt="Mưa" />
                        <button class="gocnhin"><b>Gốc nhìn</b></button>
                        <h3>"Thất thủ" trước cơn mưa.</h3>
                        <p>Hàng triệu người bất lực bởi một cơn mưa, hay còn bởi điều gì khác.?</p>
                        <p>Đêm xuân gió rét ngoài đồng,<br>Thân em vẫn đợi người chồng em thương. </p>
                    </div>
                </aside>
                <div class="space"></div>
                <div class="advertisement">
                    <div class="date">
                        <p>&nbsp;&nbsp;&nbsp;Thứ 3,27/9/2016 | 09:16 GMT+7</p>
                        <button class="buttonc">24h qua</button>
                        <button class="buttond"><b>RSS</b>&#9888;</button>
                    </div>
                    <hr>
                    <div>
                        <img style="width:100%;height:125px;" src="~/Content/Images/right-ads-1.png" alt="Anhads1" />
                    </div>
                    <div>
                        <img style="width: 100%; height: 125px;" src="~/Content/Images/right-ads-2.png" alt="anhads2" />
                    </div>
                    <div>
                        <img style="width: 100%; height: 125px;" src="~/Content/Images/right-ads-3.png" alt="anhads3" />
                    </div>
                </div>
            </section>

        </div>
    </div>

</body>
</html>
