﻿body {
    background-color: white;
}

.container .mainbar {
    width: 90%;
    height: 40px;
    margin: auto;
    border: 2px solid black;
    padding: 1px;
    display: flex;
}

    .container .mainbar .left {
        flex-grow: 4;
        background-color: white;
        margin: auto;
    }

    .container .mainbar .right {
        margin: auto;
    }

    .container .mainbar .left a {
        text-decoration: none;
    }
/*------------------------------------------------------------------------------------------------------------------*/
.white-button {
    background-color: white;
}

.Blue-button {
    background-color: cornflowerblue;
}

.follow-button {
    background-color: aquamarine;
}

.a-button {
    background-color: mediumturquoise;
}

.Blue-button,
.follow-button,
.white-button,
.a-button,
.buttonc,
.buttond {
    border-radius: 20px;
}

.menu a {
    color: red; /* Màu mặc định khi không trỏ chuột vào */
    text-decoration: none; /* Loại bỏ gạch chân mặc định của liên kết */
    transition: color 0.3s ease; /* Hiệu ứng chuyển đổi màu */
}

    /* Màu khi trỏ chuột vào liên kết */
    .menu a:hover {
        color: blue; /* Màu khi trỏ chuột vào */
    }

    /* Màu khi nhấp vào liên kết */
    .menu a:active {
        color: red; /* Màu khi nhấp vào */
    }
/*------------------------------------------------------------------------------------------------------------------*/

.content .maincontent {
    width: 90%;
    margin: auto;
    padding: 1px;
    height: 150px;
}

    .content .maincontent .banner {
        display: flex;
        margin: auto;
        flex-grow: 3;
    }

        .content .maincontent .banner .logo {
            width: 450px;
        }

        .content .maincontent .banner .banner1 {
            width: 500px;
        }

        .content .maincontent .banner .banner2 {
            width: 500px;
        }

.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

    .menu a {
        text-decoration: none;
        color: black;
        padding: 0px 2px;
    }

.content .maincontent .news {
    display: flex;
}

    .content .maincontent .news .information {
        width: 50%;
        border-right: 2px solid rgba(0, 0, 0, 0.3);
    }

        .content .maincontent .news .information .thoisu {
            font-size: 28px;
            padding-top: 3px;
            padding-bottom: 5px;
        }

        .content .maincontent .news .information .anhdonatrum {
            width: 99%;
            height: 350px;
        }

        .content .maincontent .news .information .caption-anhdonatrum {
            color: red;
            font-size: 22.9px;
        }

    .content .maincontent .news .news-suggest {
        width: 21%;
        border-right: 2px solid rgba(0, 0, 0, 0.3);
    }

        .content .maincontent .news .news-suggest .language {
            width: 98%;
            padding-top: 3px;
            padding-bottom: 5px;
            text-align: right;
        }

        .content .maincontent .news .news-suggest .news-question {
            width: 95%;
            margin: auto;
            border: 1px solid rgba(0, 0, 0, 0.3);
            padding: 1px;
            padding-left: 5px;
        }

        .content .maincontent .news .news-suggest .propose {
            width: 95%;
            margin: auto;
            border: 1px solid rgba(0, 0, 0, 0.3);
            padding: 1px;
            padding-left: 5px;
        }

            .content .maincontent .news .news-suggest .propose .mua {
                float: right;
                width: 45%;
            }

            .content .maincontent .news .news-suggest .propose .gocnhin {
                font-size: 15px;
                padding-left: 5px;
                color: #FF6666;
                background-color: rgba(157, 164, 164, 0.10);
                border: 0px;
            }

    .content .maincontent .news .space {
        width: 1%;
        padding-right: 15px;
    }

    .content .maincontent .news .advertisement {
        width: 29%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .content .maincontent .news .advertisement .date {
            width: 100%;
            padding: 5px;
            font-size: 11px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            margin-bottom: 10px;
        }

        .content .maincontent .news .advertisement div {
            width: 100%;
            margin-bottom: 10px;
        }

        .content .maincontent .news .advertisement img {
            width: 100%;
            height: auto;
        }

    .content .maincontent .news .news-suggest .news-question a {
        text-decoration: none; /* Loại bỏ gạch chân */
        color: #007bff; /* Thay đổi màu sang màu xanh */
    }

.button-container {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Khoảng cách giữa các button */
    align-items: center; /* Căn chỉnh theo chiều dọc */
}

.buttonc, .buttond {
    /* Thêm kiểu dáng cho các button tại đây */
}
